
name: Trigger Vercel Cron

on:
  schedule:
    # Minute (0) Hour (6) DayOfMonth (*) Month (*) DayOfWeek (*)
    - cron: '30 0 * * *' 
  workflow_dispatch:

jobs:
  ping-vercel:
    runs-on: ubuntu-latest
    steps:
      - name: Call Vercel API
        run: |
          curl -X POST https://discord-bot-three-chi.vercel.app/api/check-contest \
          -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}"